extends templates/layout

block main
    .container-fluid
        .b-header__box-top
            .container-fluid
                .row
                    .col-4.col-sm-5
                        .b-header__nav
                            ul
                                li
                                    a(href="#") Журнал
                                li
                                    a(href="#") Студия 
                                li
                                    a(href="#") События
                                li
                                    a(href="#") Магазин
                    .col-4.col-sm-2
                        .b-header__logo
                            a(href="#")
                                img(src="img/logo.svg", alt="logo") 
                    .col-4.col-sm-5
                        .b-header__nav.b-header--right
                            ul
                                li
                                    a(href="#") Поиск
                                li
                                    a(href="#") Корзина (0)
                                li
                                    a(href="#") Войти
        .row.b-header__top
            .col-sm-2#tab-row
                    .row
                        .col-10.col-md-9.col-lg-10#menu-remove
                            .b-menu__item
                                .b-menu__item-text * Журнал о современной культуре. Поток новостей обо всём, что нужно знать современному человеку.
                            .b-menu__top-item
                                .b-menu__sidebar
                                    ul
                                        li
                                            a(href="#").b-menu__sidebar-link Поток
                                            .b-menu__tab-content
                                                .b-menu__tab-link
                                                    ul
                                                        li
                                                            a(href="#") Культура
                                                        li
                                                            a(href="#") Исскуство
                                                        li
                                                            a(href="#") Мода 
                                                        li
                                                            a(href="#") Дизайн
                                                        li
                                                            a(href="#") Музыка
                                                        li
                                                            a(href="#") Техноголии
                                                        li
                                                            a(href="#") Герои
                                        li
                                            a(href="#").b-menu__sidebar-link  Шоу
                                            .b-menu__tab-content
                                                p ad quidem tenetur maxime b
                                        li
                                            a(href="#").b-menu__sidebar-link  Плейлисты
                                            .b-menu__tab-content
                                                p ad quidem tenetur maxime b
                                        li
                                            a(href="#").b-menu__sidebar-link  Новости
                                            .b-menu__tab-content
                                                .b-menu__tab-menu
                                                    ul
                                                        li
                                                            a(href="") Проекты
                                                        li
                                                            a(href="") Релизы
                                                        li
                                                            a(href="") Анонсы
                                
                            .b-menu__box-link ПОПУЛЯРНОЕ
                            a(href="#").b-menu__news-link Предложить новость
                            .b-header__tab-link(tabindex="0")#tab-1 Вид 1
                            span.b-header__link-span 
                            .b-header__tab-link(tabindex="0")#tab-2 Вид 2
                        .col-2.col-md-3.col-lg-2#active-arrow.b-menu__item-arrow
                            img(src="img/arrow-left.png", alt="arrow-left")
                        .col-2.col-md-3.col-lg-2#remove-arrow
                            img(src="img/arrow-left.png", alt="arrow-left").b-menu__arrow-rotate
            .col-sm-10.col-xs-12.b-article__box-top#tab-content1
                .row
                    .row
                        .col-sm-12.col-md-4.col-lg-4.b-header__mobile-box
                            .b-article__box
                                a(href="#")
                                .b-article__box-img
                                .row
                                    .col-10.xl-screen-9
                                        .b-article__box-title / Дерек Бласберг x Youtube
                                        .b-article__box-text Дерек Бласберг возглавил сегмент Youtube,отвечающий за коммункации с брендами иинфлюэнсерами.
                                        .b-article__box-desc
                                            span.b-article__box-span КУЛЬТУРА 
                                            span.b-article__box-item   9 июля   
                                            |  476 просмотров
                                    .col-2.xl-screen-3.b-article__list.justify-content-center.align-items-end
                                        .b-article__box-bg(tabindex="0")
                               
                        .col-sm-12.col-md-4.col-lg-4.b-header__mobile-box
                            .b-article__box
                                a(href="#")
                                .b-article__box-img
                                .row
                                    .col-10.xl-screen-9
                                        .b-article__box-title / Атриум стал объектом ультрадинамизма
                                        .b-article__box-text Мы пообщались с одним из художников, трансформировавшего одно из самых проходимых мест Москвы в арт-объект. Речь идет о Felipe Pantone и проекте "ARTRIUM". 
                                        .b-article__box-desc
                                            span.b-article__box-span Искусство 
                                            span.b-article__box-item 9 июля 
                                            |  476 просмотров
                                    .col-2.xl-screen-3.b-article__list.justify-content-center.align-items-end
                                        .b-article__box-bg(tabindex="0")
                                
                        .col-sm-12.col-md-4.col-lg-4.b-header__mobile-box
                            .b-article__box
                                a(href="#")
                                .b-article__box-img
                                .row
                                    .col-10.xl-screen-9
                                        .b-article__box-title / THE Playlist уже в Apple Music.
                                        .b-article__box-text Заряженный плейлист от студии THĒ. Мы делимся музыкой, которая нас вдохновляет.
                                        .b-article__box-desc
                                            span.b-article__box-span МУЗЫКА 
                                            span.b-article__box-item   9 июля
                                            |   476 просмотров
                                    .col-2.xl-screen-3.b-article__list.justify-content-center.align-items-end
                                        .b-article__box-bg(tabindex="0")
                            
                                
                    .row.b-article__box-up
                        .col-sm-12.col-md-4.col-lg-4.b-header__mobile-box
                            .b-article__box
                                a(href="#")
                                .b-article__box-img
                                .row
                                    .col-10.xl-screen-9
                                        .b-article__box-title / Дерек Бласберг x Youtube
                                        .b-article__box-text Дерек Бласберг возглавил сегмент Youtube,отвечающий за коммункации с брендами иинфлюэнсерами.
                                        .b-article__box-desc
                                            span.b-article__box-span КУЛЬТУРА 
                                            span.b-article__box-item 9 июля
                                            |   476 просмотров
                                    .col-2.xl-screen-3.b-article__list.justify-content-center.align-items-end
                                            .b-article__box-bg(tabindex="0")
                                
                        .col-sm-12.col-md-4.col-lg-4.b-header__mobile-box
                            .b-article__box
                                a(href="#")
                                .b-article__box-img
                                .row
                                    .col-10.xl-screen-9
                                        .b-article__box-title / Атриум стал объектом ультрадинамизма
                                        .b-article__box-text Мы пообщались с одним из художников, трансформировавшего одно из самых проходимых мест Москвы в арт-объект. Речь идет о Felipe Pantone и проекте "ARTRIUM". 
                                        .b-article__box-desc
                                            span.b-article__box-span Искусство 
                                            span.b-article__box-item   9 июля
                                            |   476 просмотров
                                    .col-2.xl-screen-3.b-article__list.justify-content-center.align-items-end
                                            .b-article__box-bg(tabindex="0")
                                
                        .col-sm-12.col-md-4.col-lg-4.b-header__mobile-box
                            .b-article__box
                                a(href="#")
                                .b-article__box-img
                                .row
                                    .col-10.xl-screen-9
                                        .b-article__box-title / THE Playlist уже в Apple Music.
                                        .b-article__box-text Заряженный плейлист от студии THĒ. Мы делимся музыкой, которая нас вдохновляет.
                                        .b-article__box-desc
                                            span.b-article__box-span МУЗЫКА 
                                            span.b-article__box-item   9 июля
                                            |   476 просмотров
                                    .col-2.xl-screen-3.b-article__list.justify-content-center.align-items-end
                                        .b-article__box-bg(tabindex="0")
                    .row.b-article__box-up
                        .col-sm-12.col-md-4.col-lg-4.b-header__mobile-box
                            .b-article__box
                                a(href="#")
                                .b-article__box-img
                                .row
                                    .col-10.xl-screen-9
                                        .b-article__box-title / Дерек Бласберг x Youtube
                                        .b-article__box-text Дерек Бласберг возглавил сегмент Youtube,отвечающий за коммункации с брендами иинфлюэнсерами.
                                        .b-article__box-desc
                                            span.b-article__box-span КУЛЬТУРА 
                                            span.b-article__box-item 9 июля
                                            |   476 просмотров
                                    .col-2.xl-screen-3.b-article__list.justify-content-center.align-items-end
                                            .b-article__box-bg(tabindex="0")
                        .col-sm-12.col-md-4.col-lg-4.b-header__mobile-box
                            .b-article__box
                                a(href="#")
                                .b-article__box-img
                                .row
                                    .col-10.xl-screen-9
                                        .b-article__box-title / Атриум стал объектом ультрадинамизма
                                        .b-article__box-text Мы пообщались с одним из художников, трансформировавшего одно из самых проходимых мест Москвы в арт-объект. Речь идет о Felipe Pantone и проекте "ARTRIUM". 
                                        .b-article__box-desc
                                            span.b-article__box-span Искусство 
                                            span.b-article__box-item   9 июля
                                            |   476 просмотров
                                    .col-2.xl-screen-3.b-article__list.justify-content-center.align-items-end
                                            .b-article__box-bg(tabindex="0")
                        .col-sm-12.col-md-4.col-lg-4.b-header__mobile-box
                            .b-article__box
                                a(href="#")
                                .b-article__box-img
                                .row
                                    .col-10.xl-screen-9
                                        .b-article__box-title / THE Playlist уже в Apple Music.
                                        .b-article__box-text Заряженный плейлист от студии THĒ. Мы делимся музыкой, которая нас вдохновляет.
                                        .b-article__box-desc
                                            span.b-article__box-span МУЗЫКА 
                                            span.b-article__box-item   9 июля
                                            |   476 просмотров
                                    .col-2.xl-screen-3.b-article__list.justify-content-center.align-items-end
                                        .b-article__box-bg(tabindex="0")
            .col-10.b-article__box-top#tab-content2
                .row
                    .col-sm-12.col-md-4.col-lg-9
                        .b-article__box
                            a(href="#")
                            .row.b-article__border-box
                            
                                .col-6.xl-screen-4
                                    .b-article__item-img
                                .col-6.xl-screen-8
                                    
                                    .row
                                        .col-10
                                            .b-article__box-desc
                                                span.b-article__box-span КУЛЬТУРА 
                                                span.b-article__box-item   9 июля   
                                            .b-article__box-title.b-article__up / Дерек Бласберг x Youtube
                                            .b-article__box-text Дерек Бласберг возглавил сегмент Youtube,отвечающий за коммункации с брендами и инфлюэнсерами.
                                            .b-article__box-comment
                                                span.b-article__item-name Anton Skorohod  
                                                span.b-article__box-item   476 просмотров
                                                |   12 комментариев  
                                        .col-2.b-article__list.justify-content-center.align-items-end
                                            .b-article__box-bg(tabindex="0")
                        .b-article__box
                            a(href="#")   
                            .row.b-article__border-box.b-article__block-indent
                                .col-6.xl-screen-4
                                    .b-article__item-img
                                .col-6.xl-screen-8
                                    .row
                                        .col-10
                                            .b-article__box-desc
                                                span.b-article__box-span КУЛЬТУРА 
                                                span.b-article__box-item   9 июля   
                                            .b-article__box-title.b-article__up / Дерек Бласберг x Youtube
                                            .b-article__box-text Дерек Бласберг возглавил сегмент Youtube,отвечающий за коммункации с брендами и инфлюэнсерами.
                                            .b-article__box-comment
                                                span.b-article__item-name Anton Skorohod  
                                                span.b-article__box-item   476 просмотров
                                                |   12 комментариев  
                                        .col-2.b-article__list.justify-content-center.align-items-end
                                            .b-article__box-bg(tabindex="0")
                        .b-article__box
                            a(href="#")    
                            .row.b-article__border-box.b-article__block-indent
                                .col-6.xl-screen-4
                                    .b-article__item-img
                                .col-6.xl-screen-8
                                    
                                    .row
                                        .col-10
                                            .b-article__box-desc
                                                span.b-article__box-span КУЛЬТУРА 
                                                span.b-article__box-item   9 июля   
                                            .b-article__box-title.b-article__up / Дерек Бласберг x Youtube
                                            .b-article__box-text Дерек Бласберг возглавил сегмент Youtube,отвечающий за коммункации с брендами и инфлюэнсерами.
                                            .b-article__box-comment
                                                span.b-article__item-name Anton Skorohod  
                                                span.b-article__box-item   476 просмотров
                                                |   12 комментариев  
                                        .col-2.b-article__list.justify-content-center.align-items-end
                                            .b-article__box-bg(tabindex="0")
                        .b-article__box
                            a(href="#")     
                            .row.b-article__border-box.b-article__block-indent
                                .col-6.xl-screen-4
                                    .b-article__item-img
                                .col-6.xl-screen-8
                                    .row
                                        .col-10
                                            .b-article__box-desc
                                                span.b-article__box-span КУЛЬТУРА 
                                                span.b-article__box-item   9 июля   
                                            .b-article__box-title.b-article__up / Дерек Бласберг x Youtube
                                            .b-article__box-text Дерек Бласберг возглавил сегмент Youtube,отвечающий за коммункации с брендами и инфлюэнсерами.
                                            .b-article__box-comment
                                                span.b-article__item-name Anton Skorohod  
                                                span.b-article__box-item   476 просмотров
                                                |   12 комментариев  
                                        .col-2.b-article__list.justify-content-center.align-items-end
                                            .b-article__box-bg(tabindex="0")
                            
                            
                                
                                    
                    .col-sm-12.col-md-4.col-lg-3
                        .row
                            .col-sm-12
                                .b-header__sidebar
                                    .b-header__sidebar-top
                                        a(href="#").b-header__title-sidebar / ПЛЕЙЛИСТ 
                                        //- .b-header__share-sidebar ...
                                    .row.b-header__show-top
                                        .col-6
                                            img(src="img/logo-music.png", alt="logo music").b-header__img-music
                                        .col-6
                                            .b-header__list 
                                                .b-header__list-title THE PLAYLIST
                                                .b-header__list-text №1
                                                .b-header__list-link Слушать
                                .b-header__sidebar
                                    .b-header__sidebar-top
                                        a(href="#").b-header__title-sidebar / шоу 
                                        //- .b-header__share-sidebar ...
                                    a(href="#",target="_blank").row.b-header__show-top
                                        .col-6
                                            .b-header__img-show
                                        .col-6
                                            .b-header__show-list 
                                                .b-header__list-title SCAZY SHOW 
                                                .b-header__list-text Выпуск №12
                                    a(href="#",target="_blank").row.b-header__show-top
                                        .col-6
                                            .b-header__img-show
                                        .col-6
                                            .b-header__show-list 
                                                .b-header__list-title SCAZY SHOW 
                                                .b-header__list-text Выпуск №12
                                    a(href="#",target="_blank").row.b-header__show-top
                                        .col-6
                                            .b-header__img-show
                                        .col-6
                                            .b-header__show-list 
                                                .b-header__list-title SCAZY SHOW 
                                                .b-header__list-text Выпуск №12
                                .b-header__sidebar
                                    .b-header__sidebar-top
                                        a(href="#").b-header__title-sidebar / Магазин
                                        //- .b-header__share-sidebar ...
                                    .row.b-header__border
                                        .col-6
                                            img(src="img/img-shop-1.png", alt="logo music").b-header__img-shop.b-header__img-top
                                        .col-6
                                            .b-header__list 
                                                .b-header__list-title THE 
                                                .b-header__shop-text Заряженный браслет
                                                .b-header__shop-desc ₽ 500
                                                a(href="#").b-header__list-link Добавить 
                                    .row.b-header__border
                                        .col-6
                                            img(src="img/coat.png", alt="logo music").b-header__img-shop.b-header__img-up
                                        .col-6
                                            .b-header__list 
                                                .b-header__list-title THE x VODA
                                                .b-header__shop-text Дождевик лаковый.<br> Черный
                                                .b-header__shop-desc ₽ 32 000
                                                a(href="#").b-header__list-link Добавить
                                    .row
                                        .col-6
                                            img(src="img/hippack_black.png", alt="logo music").b-header__img-shop.b-header__img-top
                                        .col-6
                                            .b-header__list 
                                                .b-header__list-title THE x VODA
                                                .b-header__shop-text заряженная сумка
                                                .b-header__shop-desc ₽ 15 000
                                                a(href="#").b-header__list-link Добавить
                                a(href="#",target="_blank").b-header__sidebar.b-header__sidebar-box
                                    .b-header__sidebar-top
                                        a(href="#").b-header__title-sidebar / События 
                                        //- .b-header__share-sidebar ...
                                    .row.b-header__show-top
                                        .col-12
                                            img(src="img/events_mobile.png", alt="events").b-header__event-img

                                
                                    


        .b-footer
            .row
                .d-none.d-sm-flex.col-sm-8.justify-content-center.justify-content-sm-end.order-sm-last
                    .b-footer__menu
                        ul
                            li
                                a(href="/about-us",data-toggle="modal",data-type="local",data-target="#modal") о студии
                            li
                                a(href="/manifest",data-toggle="modal",data-type="local",data-target="#modal") манифест
                            li
                                a(href="/cooperation",data-toggle="modal",data-type="local",data-target="#modal") сотрудничество
                            li
                                a(href="/contacts",data-toggle="modal",data-type="local",data-target="#modal") контакты
                            li
                                a(href="/delivery",data-toggle="modal",data-type="local",data-target="#modal") доставка
                    .b-footer__icons
                        ul
                            li
                                a(href="#",target="_blank") 
                                    i.fab.fa-vk
                            li
                                a(href="https://facebook.com/thehaze.ru",target="_blank")
                                    i.fab.fa-facebook-f
                            li
                                a(href="https://behance.com/thehaze",target="_blank")
                                    i.fab.fa-behance
                            li
                                a(href="https://vimeo.com/thehaze",target="_blank")
                                    i.fab.fa-vimeo-v
                            li
                                a(href="https://t.me/thehaze",target="_blank")
                                    i.fab.fa-telegram-plane
                            li
                                a(href="https://instagram.com/thehaze",target="_blank")   
                                    i.fab.fa-instagram 
                .col-12.col-sm-4.order-sm-first.text-center.text-sm-left
                    .b-footer__text © 2018 THĒ. Digital Art Studio. Founded by 
                        a(href="https://www.thehaze.us/") Zorik Istomin
                                    
                                    
                        
                        
                       
            
                
                