extends templates/layout

block main
    .container-fluid
        .b-header__box-top
            .container-fluid
                .row
                    .col-4.col-sm-5
                        .b-header__nav
                            ul
                                li
                                    a(href="#") Журнал
                                li
                                    a(href="#") Студия 
                                li
                                    a(href="#") События
                                li
                                    a(href="#") Магазин
                    .col-4.col-sm-2
                        .b-header__logo
                            a(href="#")
                                img(src="img/logo.svg", alt="logo") 
                    .col-4.col-sm-5
                        .b-header__nav.b-header--right
                            ul
                                li
                                    a(href="#") Поиск
                                li
                                    a(href="#") Корзина (0)
                                li
                                    a(href="#") Войти
        .row.b-header__top
            .col-2#tab-row
                    .row
                        .col-12#menu-remove
                            .b-menu__item
                                .b-menu__item-text * Мы создаем визуальную коммуникацию между брендами и их адуиторией, интегрируя техники цифрового искусства в маркетинговые кампании.
                            .b-menu__link-tab
                                ul
                                    li
                                        a(href="") Услуги
                                    li
                                        a(href="") Проекты
                                    li
                                        a(href="") Видео
                                    li
                                        a(href="") Клиенты
                            a(href="#").b-menu__news-link Оставить заявку
                           
            .col-10
                ul.b-accordion
                    li
                        .b-accordion__box
                            a(href="") / Дизайн.
                            .b-accordion__link + смотреть
                            .b-accordion__text Мы создаем визуальную коммуникацию между клиентом и его аудиторией. |
                        .b-accordion__content#content-tab 
                            .b-accordion__content-title Оставить заявку 
                            .b-accordion__content-text Выберите интересующие вас категории из списка выше и напишите нам письмо.<br>Мы свяжемся с вами в ближайшее время.
                            .row
                                .col-11.b-accordion__bottom-item
                                    form(action="",method="post")
                                        input(type="text",placeholder="Ваше имя").b-accordion__input
                                        input(type="e-mail",placeholder="Email").b-accordion__input
                                        input(type="text",placeholder="Телефон").b-accordion__input
                                        input(type="text",placeholder="Компания").b-accordion__input
                                        input(type="text",placeholder="Сообщение").b-accordion__input-area
                                        button.b-accordion__btn + Отправить
                                        label.b-accordion__main-check
                                            input(class="b-accordion__check",type="checkbox")
                                            span.b-accordion__check-custom
                                            span.b-accordion__label Даю согласие на обработку моих персональных данных
                                .col-1
                ul.b-accordion    
                    li
                        .b-accordion__box
                            a(href="") / Видео.
                            .b-accordion__text Мы создаем видео контент по собственным стандартам качества. |
                        .b-accordion__content#content-tab 
                            .b-accordion__content-title Оставить заявку 
                            .b-accordion__content-text Выберите интересующие вас категории из списка выше и напишите нам письмо.<br>Мы свяжемся с вами в ближайшее время.
                            .row
                                .col-11.b-accordion__bottom-item
                                    form(action="",method="post")
                                        input(type="text",placeholder="Ваше имя").b-accordion__input
                                        input(type="e-mail",placeholder="Email").b-accordion__input
                                        input(type="text",placeholder="Телефон").b-accordion__input
                                        input(type="text",placeholder="Компания").b-accordion__input
                                        input(type="text",placeholder="Сообщение").b-accordion__input-area
                                        button.b-accordion__btn + Отправить
                                        label.b-accordion__main-check
                                            input(class="b-accordion__check",type="checkbox")
                                            span.b-accordion__check-custom
                                            span.b-accordion__label Даю согласие на обработку моих персональных данных
                                .col-1                    
                ul.b-accordion    
                    li
                        .b-accordion__box
                            a(href="") / Маркетинг.
                            .b-accordion__text Мы предлагаем качественное продвижение бренда и продукта. |
                        .b-accordion__content#content-tab 
                            .b-accordion__content-title Оставить заявку 
                            .b-accordion__content-text Выберите интересующие вас категории из списка выше и напишите нам письмо.<br>Мы свяжемся с вами в ближайшее время.
                            .row
                                .col-11.b-accordion__bottom-item
                                    form(action="",method="post")
                                        input(type="text",placeholder="Ваше имя").b-accordion__input
                                        input(type="e-mail",placeholder="Email").b-accordion__input
                                        input(type="text",placeholder="Телефон").b-accordion__input
                                        input(type="text",placeholder="Компания").b-accordion__input
                                        input(type="text",placeholder="Сообщение").b-accordion__input-area
                                        button.b-accordion__btn + Отправить
                                        label.b-accordion__main-check
                                            input(class="b-accordion__check",type="checkbox")
                                            span.b-accordion__check-custom
                                            span.b-accordion__label Даю согласие на обработку моих персональных данных
                                .col-1
                ul.b-accordion
                    li
                        .b-accordion__box
                            a(href="") / События. 
                            .b-accordion__text Мы создаем культурные события. |
                        .b-accordion__content#content-tab 
                            .b-accordion__content-title Оставить заявку 
                            .b-accordion__content-text Выберите интересующие вас категории из списка выше и напишите нам письмо.<br>Мы свяжемся с вами в ближайшее время.
                            .row
                                .col-11.b-accordion__bottom-item
                                    form(action="",method="post")
                                        input(type="text",placeholder="Ваше имя").b-accordion__input
                                        input(type="e-mail",placeholder="Email").b-accordion__input
                                        input(type="text",placeholder="Телефон").b-accordion__input
                                        input(type="text",placeholder="Компания").b-accordion__input
                                        input(type="text",placeholder="Сообщение").b-accordion__input-area
                                        button.b-accordion__btn + Отправить
                                        label.b-accordion__main-check
                                            input(class="b-accordion__check",type="checkbox")
                                            span.b-accordion__check-custom
                                            span.b-accordion__label Даю согласие на обработку моих персональных данных
                                .col-1
                ul.b-accordion
                    li
                        .b-accordion__box
                            a(href="") / IT. 
                            .b-accordion__text Мы разрабатываем сайты и мобильные приложения. |
                        .b-accordion__content#content-tab 
                            .b-accordion__content-title Оставить заявку 
                            .b-accordion__content-text Выберите интересующие вас категории из списка выше и напишите нам письмо.<br>Мы свяжемся с вами в ближайшее время.
                            .row
                                .col-11.b-accordion__bottom-item
                                    form(action="",method="post")
                                        input(type="text",placeholder="Ваше имя").b-accordion__input
                                        input(type="e-mail",placeholder="Email").b-accordion__input
                                        input(type="text",placeholder="Телефон").b-accordion__input
                                        input(type="text",placeholder="Компания").b-accordion__input
                                        input(type="text",placeholder="Сообщение").b-accordion__input-area
                                        button.b-accordion__btn + Отправить
                                        label.b-accordion__main-check
                                            input(class="b-accordion__check",type="checkbox")
                                            span.b-accordion__check-custom
                                            span.b-accordion__label Даю согласие на обработку моих персональных данных
                                .col-1
                        

        .b-footer
            .row
                .d-none.d-sm-flex.col-sm-8.justify-content-center.justify-content-sm-end.order-sm-last
                    .b-footer__menu
                        ul
                            li
                                a(href="/about-us",data-toggle="modal",data-type="local",data-target="#modal") о студии
                            li
                                a(href="/manifest",data-toggle="modal",data-type="local",data-target="#modal") манифест
                            li
                                a(href="/cooperation",data-toggle="modal",data-type="local",data-target="#modal") сотрудничество
                            li
                                a(href="/contacts",data-toggle="modal",data-type="local",data-target="#modal") контакты
                            li
                                a(href="/delivery",data-toggle="modal",data-type="local",data-target="#modal") доставка
                    .b-footer__icons
                        ul
                            li
                                a(href="#",target="_blank") 
                                    i.fab.fa-vk
                            li
                                a(href="https://facebook.com/thehaze.ru",target="_blank")
                                    i.fab.fa-facebook-f
                            li
                                a(href="https://behance.com/thehaze",target="_blank")
                                    i.fab.fa-behance
                            li
                                a(href="https://vimeo.com/thehaze",target="_blank")
                                    i.fab.fa-vimeo-v
                            li
                                a(href="https://t.me/thehaze",target="_blank")
                                    i.fab.fa-telegram-plane
                            li
                                a(href="https://instagram.com/thehaze",target="_blank")   
                                    i.fab.fa-instagram 
                .col-12.col-sm-4.order-sm-first.text-center.text-sm-left
                    .b-footer__text © 2018 THĒ. Digital Art Studio. Founded by 
                        a(href="https://www.thehaze.us/") Zorik Istomin
                                    
                                    
                        
                        
                       
            
                
                