block first-line
|
|
doctype html
html(lang='en')
	head
		title Журнал | The haze
		meta(name="description" content="")
		include ../inc/head
	body
		.wrapper
			include ../utils/mixins
			include ../inc/header
			|
			|
			block main
			|
			|
			include ../inc/footer
		
		block scripts
			script(src='js/main.js')
			script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
			script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
